include AUTHORS
include LICENSE
include README.rst
include CONTRIBUTING.rst
include Makefile

recursive-include src *.c *.h *.rl
recursive-include tests *.py

exclude tox.ini
exclude .travis.yml

prune src/http11/c/__pycache__
