include AUTHORS
include LICENSE
include README.rst
include CONTRIBUTING.rst
include Makefile

recursive-include http11 *.c *.h *.rl
recursive-include tests *.py

exclude tox.ini
exclude .travis.yml

prune http11/__pycache__
